---
layout: description
title: Blog
pagetype: blog
---
<!-- This loops through the paginated posts -->


{% if paginator.total_posts == 0 %}
    <p>No projects right now.</p>
{% else %}
<ul class="blog-list">
    {% for post in paginator.posts %}
        {% if post.categories contains 'Banking Credit Risk Project' or 
              post.categories contains 'Cosmic Ray Analysis Project' or
              post.categories contains 'Customer and Revenue Project' or
              post.categories contains 'Natural Language Processing (NLP) Project' %}
        <li>
            <a class="blog-heading" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="date">{{ post.date | date_to_string }}</span>
            <div class="excerpt">{{ post.excerpt }}</div>
            <div class="post-categories">
                Categories: 
                {% for category in post.categories %}
                    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                {% unless forloop.last %}&nbsp;{% endunless %}
                {% endfor %}
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<hr>
{% if paginator and paginator.total_pages > 1 %}
<ul>
    {% if paginator.previous_page %}
        <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
        </li>
    {% endif %}
    {% if paginator.next_page %}
        <li>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
        </li>
    {% endif %}
</ul>
{% endif %}
