---
layout: description
title: Blog
pagetype: blog
---
<!-- This loops through all posts -->
<ul class="blog-list">
    {% for post in site.posts %}
        {% if post.categories contains 'Banking Credit Risk Project' or 
              post.categories contains 'Cosmic Ray Analysis Project' or
              post.categories contains 'Customer and Revenue Project' or
              post.categories contains 'Natural Language Processing (NLP) Project' %}
        <li>
            <a class="blog-heading" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="date">{{ post.date | date_to_string }}</span>
            <div class="excerpt">{{ post.excerpt }}</div>
            <div class="post-categories">
                Categories: 
                {% for category in post.categories %}
                    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                {% unless forloop.last %}&nbsp;{% endunless %}
                {% endfor %}
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>

